<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>add or edit employee</title>
</head>
<body>
<form action="#" th:action="@{add}"  method="post">
    <input type="text"  name="name"/>

    <select name="departmentId">
        <option th:each="department : ${allDepartment}"
                th:value="${department.id}"
                th:text="${department.name}">taobao</option>
    </select>
    <input type="submit" text="submit" />
</form>


</body>
</html>